{% extends 'base.html.twig' %}

{% block title %}Classements{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-info active pr-5" data-toggle="tab" href="#ATP">ATP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger pr-5" data-toggle="tab" href="#WTA">WTA</a>
        </li>
    </ul>
    <div id="rankings" class="tab-content">
        <div class="tab-pane fade show active" id="ATP">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-info small active" data-toggle="tab" href="#ATP-official">Officiel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info small" data-toggle="tab" href="#ATP-live">Live</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info small" data-toggle="tab" href="#ATP-race">Race</a>
                </li>
            </ul>
            <div id="rankings" class="tab-content">
                <div class="tab-pane fade show accordion" id="ATP-official">
                    <p>Ici le classemement ATP officiel</p>
                </div>
                <div class="tab-pane fade show" id="ATP-live">
                    <p>Ici le classemement ATP live</p>
                </div>
                <div class="tab-pane fade" id="ATP-race">
                    <p>Ici la race ATP</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="WTA">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-danger small active" data-toggle="tab" href="#WTA-official">Officiel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger small" data-toggle="tab" href="#WTA-live">Live</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger small" data-toggle="tab" href="#WTA-race">Race</a>
                </li>
            </ul>
            <div id="rankings" class="tab-content">
                <div class="tab-pane fade show" id="WTA-official">
                    <p>Ici le classemement WTA officiel</p>
                </div>
                <div class="tab-pane fade show" id="WTA-live">
                    <p>Ici le classemement WTA live</p>
                </div>
                <div class="tab-pane fade" id="WTA-race">
                    <p>Ici la race WTA</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
